doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="import", href="components/paper-progress/paper-progress.html")
		link(rel="stylesheet", href="assets/css/neat-poll.css")
	body
		.no-poll
			span.not-active No poll currently active!
		.empty
			span.empty No answers yet!
		.progress
			span.header
			.answer-a
				label
					span.answer
					span.percent
				paper-progress.red(value="50")
			.answer-b
				label
					span.answer
					span.percent
				paper-progress.green(value="50")
			.answer-c
				label
					span.answer
					span.percent
				paper-progress.blue(value="50")
			.answer-d
				label
					span.answer
					span.percent
				paper-progress.orange(value="50")
		script(src="assets/js/neat-poll-results.js")
